elm-stuff
.*.sw?
*~
elm.js
index.html
docs.json
documentation.json
.vscode/

test.html
examples/counter-many.html
examples/counter1-no-parts.html
examples/counter1.html

.DS_Store

build
node_modules
.sass-cache

elm-mdc.js
material-components-web.css
