elm-stuff
.*.sw?
*~
elm.js
index.html
docs.json
documentation.json
.vscode/

test.html
examples/counter-many.html
examples/counter1-no-parts.html
examples/counter1.html

.DS_Store

build
node_modules

elm-focus-trap.js
elm-global-events.js
material-components-web.css
elm-focus-trap/bundle.js
.sass-cache
