#catalog-image-list {
    max-width: 900px;
    padding-top: 128px;
    padding-bottom: 100px;
}
.catalog-image-list-label {
    font-weight: 500;
    color: #212121;
}
.catalog-top-app-bar {
    background-color: #212121;
}

.demo-content--animating-open {
  transition: 200ms transform cubic-bezier(.4, 0, .2, 1) 50ms;
}

.demo-content--animating-close {
  transition: 125ms transform cubic-bezier(.4, 0, .2, 1);
}

/* demo-content */
.demo-wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 40px 16px 100px;
}

.catalog-top-app-bar__title {
  text-transform: uppercase;
  font-family: Roboto Mono, serif;
  font-weight: 400;
}

.catalog-top-app-bar__title--small-screen {
  display: none;
}

@media (max-width: 599px) {
  .catalog-top-app-bar__title--small-screen {
    display: inline-block;
  }

  .catalog-top-app-bar__title--large-screen {
    display: none;
  }
}


/**
 * Textfields demo.
 */
.demo-text-field-outlined-shaped .mdc-notched-outline .mdc-notched-outline__leading {
  /* @noflip */
  border-radius: 28px 0 0 28px;
  width: 28px;
}

.demo-text-field-outlined-shaped .mdc-notched-outline .mdc-notched-outline__notch {
  max-width: calc(100% - 28px * 2);
}

.demo-text-field-outlined-shaped .mdc-notched-outline .mdc-notched-outline__trailing {
  /* @noflip */
  border-radius: 0 28px 28px 0;
}


/**
 * Selects demo.
 */
.demo-select-outline-shaped .mdc-notched-outline .mdc-notched-outline__leading {
  /* @noflip */
  border-radius: 28px 0 0 28px;
  width: 28px;
}

.demo-select-outline-shaped .mdc-notched-outline .mdc-notched-outline__notch {
  max-width: calc(100% - 28px * 2);
}
.demo-select-outline-shaped .mdc-notched-outline .mdc-notched-outline__trailing {
  /* @noflip */
  border-radius: 0 28px 28px 0;
}


/**
 * Ripple demo.
 */

.ripple-demo-box--primary {
  color: #6200ee;
  /* @alternate */
  color: var(--mdc-theme-primary, #6200ee);
}
.ripple-demo-box--primary::before, .ripple-demo-box--primary::after {
  background-color: #6200ee;
}
@supports not (-ms-ime-align: auto) {
  .ripple-demo-box--primary::before, .ripple-demo-box--primary::after {
    /* @alternate */
    background-color: var(--mdc-theme-primary, #6200ee);
  }
}
.ripple-demo-box--primary:hover::before {
  opacity: 0.04;
}
.ripple-demo-box--primary:not(.mdc-ripple-upgraded):focus::before, .ripple-demo-box--primary.mdc-ripple-upgraded--background-focused::before {
  -webkit-transition-duration: 75ms;
       -o-transition-duration: 75ms;
          transition-duration: 75ms;
  opacity: 0.12;
}
.ripple-demo-box--primary:not(.mdc-ripple-upgraded)::after {
  -webkit-transition: opacity 150ms linear;
  -o-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}
.ripple-demo-box--primary:not(.mdc-ripple-upgraded):active::after {
  -webkit-transition-duration: 75ms;
       -o-transition-duration: 75ms;
          transition-duration: 75ms;
  opacity: 0.12;
}
.ripple-demo-box--primary.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.12;
}

.ripple-demo-box--secondary {
  color: #018786;
  /* @alternate */
  color: var(--mdc-theme-secondary, #018786);
}
.ripple-demo-box--secondary::before, .ripple-demo-box--secondary::after {
  background-color: #018786;
}
@supports not (-ms-ime-align: auto) {
  .ripple-demo-box--secondary::before, .ripple-demo-box--secondary::after {
    /* @alternate */
    background-color: var(--mdc-theme-secondary, #018786);
  }
}
.ripple-demo-box--secondary:hover::before {
  opacity: 0.04;
}
.ripple-demo-box--secondary:not(.mdc-ripple-upgraded):focus::before, .ripple-demo-box--secondary.mdc-ripple-upgraded--background-focused::before {
  -webkit-transition-duration: 75ms;
       -o-transition-duration: 75ms;
          transition-duration: 75ms;
  opacity: 0.12;
}
.ripple-demo-box--secondary:not(.mdc-ripple-upgraded)::after {
  -webkit-transition: opacity 150ms linear;
  -o-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}
.ripple-demo-box--secondary:not(.mdc-ripple-upgraded):active::after {
  -webkit-transition-duration: 75ms;
       -o-transition-duration: 75ms;
          transition-duration: 75ms;
  opacity: 0.12;
}
.ripple-demo-box--secondary.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.12;
}
